@charset "utf-8";
/* CSS Document */

*{border:0 none;outline:0;padding:0;margin:0;}
.clear{clear:both;line-height:0px;font-size:0px;width:0px;height:0px;visibility:hidden;}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{background:#37586b;color:#ddeaf2;font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;overflow:hidden;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4{font-size:12px;}
.hidden{display:none;visibility:hidden;}
#citynavigation{position:fixed;top:20px;right:10px;z-index:10;height:35px;}
#citynavigation a{color:#ddeaf2;display:block;float:left;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;text-decoration:none;height:33px;line-height:33px;margin-right:5px;padding-left:7px;padding-right:7px;border-radius:5px;}
#citynavigation a:hover, #citynavigation a.active{background:#417798;}
#city{width:6110px;height:2300px;position:relative;z-index:0;background-image:url(../images/clouds.jpg);background-repeat:repeat-x;background-position:0 700px;}
#home{width:3055px;height:700px;background:url(../images/home-bg.jpg);position:absolute;left:0;top:1600px;}
#homecontent{width:940px;height:700px;background:url(../images/home.jpg) no-repeat top left;}
header.home{height:30px;padding-top:100px;padding-left:400px;}
header.home h2{padding-left:40px;line-height:30px;margin-left:-40px;}
#homecontent article{padding-top:10px;padding-left:400px;}
#homecontent article p{width:250px;height:50px;border-bottom:2px solid #417798;padding-bottom:5px;float:left;margin-right:20px;margin-bottom:25px;}
#homecontent article p:hover{border-bottom:2px solid #ddeaf2;}
#services{width:3055px;height:700px;background:url(../images/services-bg.jpg) repeat-x;position:absolute;right:0;top:1600px;}
#servicescontent{width:940px;height:700px;}
#portfolio{width:3055px;height:700px;background:url(../images/stars.jpg);position:absolute;right:0;top:0;}
#portfoliocontent{width:940px;height:700px;background:url(../images/portfolio.jpg) no-repeat top left;}
#contact{width:3055px;height:700px;background:url(../images/stars.jpg) repeat-x;position:absolute;left:0;top:0;}
#contactcontent{width:940px;height:700px;background:url(../images/contact.jpg) no-repeat top left;}